.popup-container{
    width: 100%;
    min-width: auto;
    display: flex;
    box-sizing: border-box;
    
}
.popup-left{
   width: 30%;
   float: left;
   min-width: 340px;
}
.popup-right{
     width: 70%;
   float: right;
   min-width: 500px;
}
.popup-left .popup-formcontrol{
    width: 80%;
    margin: 8px;
}
.popup-formcontrol{
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
.multi-imgrow{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    overflow: auto;
    flex-direction: column;
}
.mul-holder{
  min-height: 100%;
    max-height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.mul-holder img{
  width:50%;
  height: 160px;
  max-width: 200px;
  object-fit: cover;
  padding: 0.75rem;
}
.add-mul{
  height: 160px;
  width: 200px;
  padding: 0.75rem;
}
#file[type="file"] {
	display: none;
}
.add-mul label{
    display: grid;
    height: 100%;
    place-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    border: 2px solid #009387;
    border-radius: 10px;
    margin: 0px;
}
.popup-btnrow{
  width: 100%;
}
.popup-btn{
  width: 30%;
  float: right;
}
.psubmit-btn{
  color: #fff;
    background-color: #333996;
    margin: 4px;
    padding: 8px 22px;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
}
.psubmit-btn span{
  margin-left: 0;
}
.pcancel-btn{
    margin-left: 1em !important;
    margin: 4px;
    padding: 8px 22px;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
}
.pcancel-btn span{
  margin-left: 0;
}
.fontSizeLabel{
  font-size: 16px;
  font-weight: bold;
}
.flex-space-twoRow{
  display: flex;
  justify-content: space-between;
}
.imageCard {
  text-align: center;
}

.imageCard img {
  width: 600px;
}

.backdrop {
  position: fixed;
  background-color: rgb(141, 141, 141);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crop-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  background-color: white;
}

.controls-upper-area {
  text-align: center;
  margin: 10px 0 0 0 ;
  width: 50%;
}

.slider {
  width: 80%;
}